:root {
  --display-color-on: lightgreen;
  --display-color-off: lightgrey;
}

.display {
  font-family: 'Cutive Mono', monospace;
  width: 400px;
  height: 100px;
  margin: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 0 black;
  &-numbers {
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &--on {
    background-color: var(--display-color-on);
  }
  &--off {
    background-color: var(--display-color-off);
  }
}
