.display {
  font-family: 'Cutive Mono', monospace;
  color: dimgray;
  font-weight: 500;
  width: 400px;
  height: 100px;
  margin: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 0 black;
  position: relative;
  &--on {
    background-color: lightgreen;
  }
  &--off {
    background-color: lightgrey;
  }
  &__numbers {
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
  }
  &__result {
    font-size: 15px;
    font-weight: bold;
    padding: 1px 4px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 2px;
    &--off {
      color: lightgrey;
      background-color: silver;
      opacity: 0.5;
    }
    &--on {
      color: lightgreen;
      background-color: dimgray;
      opacity: 0.6;
    }
  }
}
